.board-wrapper {
  display: grid;
  grid-template-rows: [header] 50px [score] 25px [speed] 25px [gap] 20px [tile-board] 1fr [gap] 20px [button] 60px;
}

.header-wrapper {
  grid-row: header;
  font-size: 20px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.score-wrapper {
  grid-row: score;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
}

.game-speed-wrapper {
  grid-row: speed;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
}

.tile-board-wrapper {
  grid-row: tile-board;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 3px;
}

.tile {
  height: 55px;
  width: 55px;
  display: block;
  background-color: thistle;
  border: 2px dashed tomato;
  /* box-sizing: border-box; */
}

.tile-board-size-10 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.player-position {
  /* background-color: red; */
  background-image: url("../../img/player.png");
  background-position: 0px 0px;
}

.player-position-right {
  background-position: 0px 0px;
}

.player-position-up {
  background-position: 0px -56px;
}

.player-position-left {
  background-position: 0px -112px;
}

.player-position-down {
  background-position: 0px 56px;
}

.point-position {
  background-color: greenyellow;
}

.button-wrapper {
  grid-row: button;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper > button {
  width: 150px;
  height: 30px;
}
